form {
  border: 2px solid orange;
}


.blogPost {
  background-color: teal;
  padding: 1rem;
  margin: .5rem;
  border-radius: .5rem;
  color: white;
}

.postBody {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}